$default-color: #fff !default;
$primary-color: #1DA57A !default;
$danger-color: #F5222D !default;
$warning-color: #FAAD14 !default;
$success-color: #52C41A !default;
$info-color: #1890FF !default;

$white: #fff !default;
$gray-1: #f7f7f7 !default;
$gray-2: #eee !default;
$gray-3: #ddd !default;